- name: Kiểm tra SSH root login
  hosts: localhost
  tasks:
    - name: Đảm bảo SSH root login bị tắt
      lineinfile:
        path: /etc/ssh/sshd_config
        regexp: '^PermitRootLogin'
        line: 'PermitRootLogin no'
        state: present
      check_mode: yes
